@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .conic-gradient:after {
        display: block;
        border-radius: 9999px;
        content: '';
        width: 108%;
        height: 108%;
        position: absolute;
        z-index: -1;
        left: -4%;
        top: -4%;
        background-image: conic-gradient(#00AEEF, #fff, #00AEEF, #fff, #00AEEF);
        animation: spin 5s linear infinite;
      }
      
      @keyframes spin { 
        100% { 
          transform: rotate(360deg);
        }
      }
}